image: docker:stable


stages:
  - build
  - test
  - release


variables:
  # When using dind service we need to instruct docker, to talk with the
  # daemon started inside of the service. The daemon is available with
  # a network connection instead of the default /var/run/docker.sock socket.
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#accessing-the-services
  #
  # Note that if you're using Kubernetes executor, the variable should be set to
  # tcp://localhost:2375 because of how Kubernetes executor connects services
  # to the job container
  DOCKER_HOST: tcp://docker:2375/
  # When using dind, it's wise to use the overlayfs driver for
  # improved performance.
  DOCKER_DRIVER: overlay2
  # Docker image tag which is going to be built by the CI pipeline
  BUILD_IMAGE_TAG: "${CI_REGISTRY_IMAGE}:${CI_JOB_ID}-${CI_COMMIT_SHA}"
  # The location where the image should be built and its artifact stored
  BUILD_IMAGE_ARTIFACT_LOCATION: "build/${CI_JOB_ID}-docker-image.tar"


services:
  - docker:dind


shellcheck:
  image: koalaman/shellcheck-alpine
  stage: build
  script: 
    - shellcheck src/*/*.sh


build-image:
  stage: build
  before_script:
    - docker info
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  script:
    - docker build --pull --no-cache --tag $BUILD_IMAGE_TAG src/.
    - docker image save ${BUILD_IMAGE_ARTIFACT_LOCATION} $BUILD_IMAGE_TAG
  artifacts:
    paths:
      - ${BUILD_IMAGE_ARTIFACT_LOCATION}


smoke-test:
  stage: test
  variables:
    HLDS_CONTAINER_NAME: "SMOKE_TEST_${CI_JOB_ID}"
    HLDS_CONTAINER_PORT: "27015"
    HLDS_SERVER_NAME: "SMOKE_TEST_${CI_JOB_ID}"
    HLDS_DOCKER_NETWORK_NAME: "SMOKE_TEST_${CI_JOB_ID}"
  before_script:
    - docker info
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  script:
    - docker image load ${BUILD_IMAGE_ARTIFACT_LOCATION}
    - docker network create $HLDS_DOCKER_NETWORK_NAME
    - docker run -d 
      -p ${HLDS_CONTAINER_PORT}:27015/udp 
      -e SERVER_NAME=${HLDS_SERVER_NAME}
      --network ${HLDS_DOCKER_NETWORK_NAME} 
      --name ${HLDS_CONTAINER_NAME} 
      $BUILD_IMAGE_TAG
    - docker run -tt
      --network ${HLDS_DOCKER_NETWORK_NAME} 
      -e HLDS_ADDRESS=${HLDS_CONTAINER_NAME} 
      -e HLDS_PORT=${HLDS_CONTAINER_PORT}
      -e HLDS_NAME=${HLDS_SERVER_NAME}
      -v ${PWD}/tests/smoke.py:/usr/src/app/smoke.py:ro 
      -w /usr/src/app 
      python:2.7 
      python smoke.py


deploy-to-gitlab-registry:
  stage: release
  before_script:
    - docker info
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  script:
    - docker image load ${BUILD_IMAGE_ARTIFACT_LOCATION}
    - docker push $BUILD_IMAGE_TAG
    - docker tag $BUILD_IMAGE_TAG ${CI_REGISTRY_IMAGE}:latest
    - docker push ${CI_REGISTRY_IMAGE}:latest